body{
  overflow-x: hidden;
}

.mc-main-heading{

    font-family: 'Oswald';
    text-transform: uppercase;
    font-size: 70px;
    line-height: 98px;
    font-weight: 700;
    margin-top: 1em;
}

.mc-main-heading span{
    color:#EF512F ;
}

.mc-main-text , ul{
    font-family: 'Jost';
}

.mc-content{
    margin-left: 442px;
    position: relative;
    top: -125px;
}

 ul {
    list-style: none;
    padding-left: 0;
  }
  .mc-content  li {
    position: relative;
    padding-left: 1.5em;  /* space to preserve indentation on wrap */
  }
  .mc-content  li:before {
    content: '';  /* placeholder for the SVG */
    position: absolute;
    left: 0;  /* place the SVG at the start of the padding */
    width: 1em;
    height: 1em;
    background: url("assets/check.svg")
  }

  .laptop-img {
    width: 83%;
    margin-top: 4rem;
    margin-left: -112px;
}

  .mc-laptop-col{
    background: url('assets/Vector-2.png');
    background-repeat: no-repeat;
  }

  .mc-col-one{
    margin-top: 252px;
  }

  .mc-container{
    position: absolute;
    top: -72px;
  }

  .mc-laptop-sub-container {
    background: url('assets/Ellipse-2.png');
    background-repeat: no-repeat;
    position: relative;
    top: 20%;
    left: -158px;
    height: 516px;
}

.arrow-img.rounded-circle {
  background-color: #770aff;
  display: flex;
  justify-content: center;
}

.text-get {
  margin-left: 515px !important;
  top: -199px !important;
  font-family: 'Oswald';
  font-size: 21px;
  color: black !important;
}

.text-start {
  margin-left: 87px !important;
  top: -199px !important;
  font-family: 'Oswald';
  font-size: 21px;
  color: black !important;
}

.price {
  color: #EF512F;
  font-size: 47px;
  font-weight: bold;
}


.sticky-btn {
  position: absolute;
  top: 693px;
  margin: 0;
  left: 91%;
  background: #ef512f;
  padding: 14px;
  transform: rotate(-90deg);
  width: 12%;
  color: #fff;
  font-family: 'Oswald';
  text-align: center;
  border-radius: 45px;
  float: right;
}

.sticky-scroll{
  position: absolute;
  top: 656px;
  margin: 0;
  left: 81%;
  padding: 14px;
  transform: rotate(-90deg);
  width: auto;
  color: #fff;
  font-family: 'Oswald';
  text-align: center;
  border-radius: 0;
}

.sticky-hr{
  border-radius: 0;
  position: relative;
  top: 17px;
  right: 126px;
  width: 164px;
  background-color: #000;
  opacity: 1;
}


.mc-main-row{
  background: url("assets/BG.png");
  background-repeat: no-repeat;
  background-position: -10% -100%;
}

.social-container{
  background: #f8f9fa;
  padding: 20px;
  width: 32%;
  border-radius: 54px;
  text-align: center;
  color: #000;
  font-family: 'Oswald';
  margin-left: 21%;
  margin-top: -64px;
  font-size: 18px;
  z-index: 999;

}

hr{
  margin-top: -30px !important;
  border: 1px solid black;
  margin-left: -12px;
}


.mc-icon{
  margin-top: -59px !important;
    margin-left: 4px !important;
    background-color: #EF512F !important;
}

.mc-icon-text{
  margin-top: -45px !important;
  margin-left: 0px !important;
  color: #EF512F;
  font-family: 'Oswald';
}

.social-container span {
  margin: 0px 30px;
}

a {
  text-decoration: none !important;
  color: #000;
}

a:hover{
  color: #EF512F;
}

.sticky-btn:hover{
  color: #000 !important;
}

.middle{
  position: absolute;
  top: 93%;
  left: 134.6%;
  transform: translate(-50%,-50%);
}

.mouse{
  width: 32px;
  height: 49px;
  border: 2px solid #000;
  border-radius: 60px;
}

.mouse::before{
  content: "";
  width: 10px;
  height: 11px;
  position: absolute;
  top: 58px;
  background: #000;
  left: 28px;
  transform: translateX(-50%);
  border-radius: 50%;
  opacity: 1;
  animation: mouse 2s infinite;
}

@keyframes mouse {
  from{
    opacity: 1;
    top: 0px;
  }

  to {
    opacity: 0;
    top: 40px;
  }
}

@media only screen and (max-width: 1800px) and (min-width: 1200px)  {
  .navbar {
    margin: 20px 181px;
    border-radius: 44px;
    padding: 19px 43px;
    z-index: 9999;
}

.mc-container{
  margin-bottom: 20px;
}

.mc-content {
  margin-left: 180px;
  position: relative;
  top: -125px;
}

.mc-main-heading {
  font-family: 'Oswald';
  text-transform: uppercase;
  font-size: 57px;
  line-height: 80px;
  font-weight: 700;
  margin-top: 1em;
}

.laptop-img {
  width: 100%;
  margin-top: 5rem;
  margin-left: -42px;
}

.mc-laptop-col {
  height: 770px;
}

.text-get {
  margin-left: 255px !important;
  top: -200px !important;
  font-family: 'Oswald';
  font-size: 21px;
}

.mc-main-row {

  background-repeat: no-repeat;
  background-position: -30% -162%;
}

.middle {
  position: absolute;
  top: 98%;
  left: 136.1%;
  transform: translate(-50%,-50%);
}


.sticky-scroll {
  top: 637px;
  
}

}