.mc-main-heading{

    font-family: 'Oswald';
    text-transform: uppercase;
    font-size: 70px;
    line-height: 98px;
    font-weight: 700;
    margin-top: 1em;
}

.mc-main-heading span{
    color:#EF512F ;
}

.mc-main-text , ul{
    font-family: 'Jost';
}

.mc-content{
    margin-left: 442px;
    position: relative;
    top: -125px;
}

 ul {
    list-style: none;
    padding-left: 0;
  }
  .mc-content  li {
    position: relative;
    padding-left: 1.5em;  /* space to preserve indentation on wrap */
  }
  .mc-content  li:before {
    content: '';  /* placeholder for the SVG */
    position: absolute;
    left: 0;  /* place the SVG at the start of the padding */
    width: 1em;
    height: 1em;
    background: url("assets/check.svg")
  }

  .laptop-img {
    width: 83%;
    margin-top: 4rem;
    margin-left: -112px;
}

  .mc-laptop-col{
    background: url('assets/Vector-2.png');
    background-repeat: no-repeat;
  }

  .mc-col-one{
    margin-top: 252px;
  }

  .mc-container{
    position: absolute;
    top: -72px;
  }

  .mc-laptop-sub-container {
    background: url('assets/Ellipse-2.png');
    background-repeat: no-repeat;
    position: relative;
    top: 20%;
    left: -158px;
    height: 516px;
}

.arrow-img.rounded-circle {
  background-color: #770aff;
  display: flex;
  justify-content: center;
}

.text-get {
  margin-left: 515px !important;
  top: -168px !important;
  font-family: 'Oswald';
  font-size: 21px;
  color: black !important;
}

.text-start {
  margin-left: 87px !important;
  top: -168px !important;
  font-family: 'Oswald';
  font-size: 21px;
  color: black !important;
}

.price{
  color: #EF512F;
}


a {
  text-decoration: none !important;
}
@media only screen and (max-width: 1800px) and (min-width: 1200px)  {
  .navbar {
    margin: 20px 181px;
    border-radius: 44px;
    padding: 19px 43px;
    z-index: 9999;
}

.mc-content {
  margin-left: 180px;
  position: relative;
  top: -125px;
}

.mc-main-heading {
  font-family: 'Oswald';
  text-transform: uppercase;
  font-size: 57px;
  line-height: 80px;
  font-weight: 700;
  margin-top: 1em;
}

.laptop-img {
  width: 100%;
  margin-top: 5rem;
  margin-left: -42px;
}

.mc-laptop-col {
  height: 770px;
}

.text-get {
  margin-left: 255px !important;
  top: -168px !important;
  font-family: 'Oswald';
  font-size: 21px;
}

}